
<oj-form-layout max-columns="3" align="center" style="padding-top: 50px;">
  <oj-input-text id="inputcalle" label-hint="Calle"></oj-input-text>
  <oj-input-text id="inputcallenumero" label-hint="Numero"></oj-input-text>
  <oj-combobox-one id="comboboxpostal" label-hint="Código postal">
    <oj-option value="91500">91500</oj-option>
    <oj-option value="87400">87400</oj-option>
  </oj-combobox-one>
</oj-form-layout>

<oj-form-layout  align="center" style="padding-top: 30px;">
  <oj-button id="nextfour" class="oj-button-primary oj-button-lg" on-oj-action=[[nextStep]]>Continuar</oj-button>
</oj-form-layout>
