<h5 align="center" style="padding-top: 50px;">Se inició el proceso de la verificación</h5>
<h5 align="center">Se le ha enviado un enlace de confirmación a su correo electrónico 
    y un codigo de confirmación via SMS al telefono proporcionado</h5>
<h5 align="center"></h5>

<oj-form-layout align="center" style="padding-top: 50px;">
        <oj-input-text id="inputsmsconfir" label-hint="Codigo SMS de confirmación"></oj-input-text>
</oj-form-layout>

<oj-form-layout  align="center" style="padding-top: 10px;">
    <oj-button id="nextthree" class="oj-button-primary oj-button-lg" on-oj-action=[[nextStep]]>Continuar</oj-button>
</oj-form-layout>