<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<mapper namespace="direccion">    
    <select id="recuperarColonias" parameterType="pojos.CodigoPostal" resultType="pojos.CodigoPostal">
        SELECT Id_Codigo_Postal, Codigo_Postal, Colonia, Id_Municipio 
        FROM ProInver.dbo.Codigo_postal
        WHERE Codigo_Postal = #{codigo_postal};                
    </select>    
        
    <select id="getAllCP" resultType="pojos.CodigoPostal">
        SELECT
        Codigo_postal.id_codigo_postal,
        Codigo_postal.id_municipio,
        Codigo_postal.codigo_postal,
        Codigo_postal.colonia
        FROM ProInver.dbo.Codigo_postal
    </select>
    <select id="getCodigoPostalByCP" resultType="pojos.CodigoPostal"
    parameterType="int">
        SELECT
        Codigo_postal.id_codigo_postal,
        Codigo_postal.id_municipio,
        Codigo_postal.codigo_postal,
        Codigo_postal.colonia
        FROM ProInver.dbo.Codigo_postal
        WHERE Codigo_postal.codigo_postal = #{codigo_postal}
    </select>
</mapper>

