<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<mapper namespace="Step3">        
    <insert id="guardarStep3" parameterType="pojos.Step3">
        INSERT INTO ProInver.dbo.Step1 (id_direccion, calle, numero, id_codigo_postal, id_step1) 
        VALUES(#{id_direccion}, #{calle}, #{numero}, #{id_codigo_postal}, #{id_step1})
    </insert>    
</mapper>
