<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<mapper namespace="Step1">        
    <insert id="guardarStep1" parameterType="pojos.Step1">
        INSERT INTO ProInver.dbo.Step1 (Id_Step1, Nombre, Apellido_Paterno, Apellido_Materno, RFC, Fecha_Nacimiento, Profesion, Nombre_Empresa, Correo, Telefono) 
        VALUES(#{id_step1}, #{nombre}, #{apellido_paterno}, #{apellido_materno}, #{rfc},  #{fecha_nacimiento}, #{profesion}, #{nombre_empresa}, #{correo}, #{telefono})
    </insert>    
        
    <insert id="proAlmGuardarStep1" statementType="CALLABLE" parameterType="pojos.Step1">
        call SPIStep1(#{id_step1},#{nombre}, #{apellido_paterno}, #{apellido_materno}, #{rfc},  #{fecha_nacimiento}, #{profesion}, #{nombre_empresa}, #{correo}, #{telefono})
    </insert>
    
</mapper>